.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #a571d9;
    padding: 10px;
    height: 10%;
}

.nav__title {
    color: #fff;
    font-size: 1.4rem;
    font-family: "La Belle Aurore", cursive;
    text-decoration: none;
}

.nav__list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav__item {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    text-decoration: none;
}

.nav__link:hover {
    color: #fff;
}

.nav__link-text {
    display: none;
}

.nav__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
}

.nav__icon:hover {
    color: #fff;
}

.nav__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.nav__cart-count {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
}

@media screen and (min-width: 1280px) {
    .nav__title {
        font-size: 2.4rem;
    }

    .nav__link-text {
        display: inline-block;
    }
}
