.page {
    height: 100vh;
}

.page__title {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.page__title2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
