@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Chivo", sans-serif;
}

html,
body {
    height: 100vh;
}

#root {
    height: 100vh;
}

.content {
    padding: 10px;
}
